@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'Pretendard-Regular';
}
@keyframes show {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 100px;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    height: 100px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}

.show {
  animation: show 500ms forwards;
}

.hide {
  animation: hide 500ms forwards;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
}
button:disabled {
  background-color: gray;
}

.flex {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
